.mypage
  .mypage__profile
    .mypage__profile--top
      .currentname
        =current_user.nickname
      .profilesetting
        = link_to "#", class:"profilesetting__content" do
          %i.fas.fa-user-cog
          設定
        = link_to "/cards/new", class:"profilesetting__content" do
          %i.fas.fa-credit-card
          クレジットカード
  .mypage__items
    -@item.each do |item|
      .mypage__items--item
        =link_to item_path(item.id) do
          = image_tag item.images[0].image.url, class: 'Message__image', size: "200x200"
        .details
          = number_to_currency(item.price, unit:"￥", strip_insignificant_zeros: true)
          (税込)
            