*{
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

.field_with_errors {
  display: contents;
}