*{
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

.newInputHidden{
  display: none;
}

.js-remove {
  cursor: pointer;
  color: #3CCACE;
}

.text-center{
  text-align: center;
}

.previewsBox{
  width: 152px;
  margin-right: 10px;
  background-color: rgb(245, 245, 245);
}

#previews{
  display: flex;
  flex-wrap: wrap;
}