.Notification {
  .notice {
    background-color: #3CCACE;
    color: #fff;
    text-align: center;
    padding: 15px;
  }

  .alert {
    background-color: red;
    color: #fff;
    border: 1px solid ;
    text-align: center;
    padding: 15px;
  }
}