
@mixin visual_elements{
  outline: 1px dashed black;
  background-color: rgba(137, 207, 235, 0.2);
}



// アプリ紹介
.mainApps{
  height: 560px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 60px;
  align-items: center;
  background-image: image-url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
}
.appsContents{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  padding: 35 0 0 0px;
  &__subtitle{
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__text{
    font-size: 18px;
    line-height: 1.77778;
    margin: 16px 0 0 0;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__btn{
    display: flex;
    margin: 16px 0 0 0 ;
    align-items: center;
    &--apple{
      width: 180px;
      img{
        width: 100%;
      }
    }
    &--google{
      width: 220px;
      img{
        width: 100%;
      }
    }
  }
}


// 理由
.mainReasons{
  padding: 60px 20px;
}
.subtitle{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 36px;
  &__border {
    width: 70px;
    height: 4px;
    border: 2px solid #3CCACE;
    margin: 0 auto;
  }
}
.reasonsLists{
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}
.reasonsList{
  width: 30%;
  height: 450px;
  margin-right: 5%;
  &__image{
    position: relative;
    .number{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 30px;
      color: white;
      padding: 10px 20px;
      background-color: #3CCACE;
      border-radius: 4px;
    }
    img{
      width: 100%;
    }
  }
  &__text{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    font-size: 18px;
    span {
      color: #3CCACE;
    }
  }
  &__description{
    margin-top: 16px;
  }
  &--last {
    margin-right: 0;
  }
}

// アピール
.mainAppeal{
  height: 400px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 60px;
  align-items: center;
  background-image: image-url("pict/bg-topMiddleDl-pict");
  background-size: cover;
  background-position: right bottom;
}
.appadsContents{
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  &__topic{
    font-size: 27px;
  }
  &__text{
    font-size: 18px;
    line-height: 1.77778;
    margin: 16px 0 0 0;
  }
  &--shadow{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__btn{
    display: flex;
    margin: 16px 0 0 0 ;
    align-items: center;
    &--apple{
      width: 180px;
      img{
        width: 100%;
      }
    }
    &--google{
      width: 220px;
      img{
        width: 100%;
      }
    }
  }
}

// 特徴

.mainFeatures{
  padding: 60px 20px;
}

.subtitle{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 36px;
  &__border {
    width: 70px;
    height: 4px;
    border: 2px solid #3CCACE;
    margin: 0 auto;
  }
}

.featuresLists{
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.featuresList{
  width: 30%;
  margin-right: 5%;
  &__image{
    img{
      width: 70%;
      margin: 0 auto;
    }
  }
  &__text{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    font-size: 18px;
    span {
      color: #3CCACE;
    }
  }
  &__description{
    margin-top: 16px;
  }
  &--last {
    margin-right: 0;
  }
}

// ピックアップカテゴリー
.mainProducts{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  &__head{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }
}
.productsBox {
  .boxhead{
    text-align: center;
    a{
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
    }
  }
  .boxlists{
    margin: 0px auto;
    padding: 26px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 880px;
    .boxlist{
      width: 220px;
      .listimage{
        margin: 0px;
        font-size: 0px;
        position: relative;
        // ItemにSOLDを表示
        .items-box-sold{
          width: 0;
          height: 0;
          border-width: 120px 120px 0 0;
          border-color: #ea352d transparent transparent transparent;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-style: solid;
          &__inner{
            top: -90px;
            font-size: 30px;
            position: absolute;
            left: 0;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
      img{
        width: 100%;
      }
      .listbody{
        background-color: white;
        color: #333;
        padding: 16px;
        p {
          font-size: 10px;
        }
        .datails > ul{
          display: flex;
          justify-content: space-between;
          li {
            line-height: 24px;
          }
          i {
            font-size: 14px;
          }
        }
      }
    }
    .itemsmore {
      margin-top: 25px;
    }
  }
}

// バナー
.mainBanner{
  height: 360px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 60px;
  align-items: center;
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  background-size: cover;
}
.bannerContents{
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &__topic{
    font-size: 24px;
  }
  &__text{
    font-size: 35px;
    line-height: 1.77778;
  }
  &--shadow{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__btn{
    display: flex;
    margin: 16px 0 0 0 ;
    align-items: center;
    justify-content: center;
    &--apple{
      width: 180px;
      img{
        width: 100%;
      }
    }
    &--google{
      width: 220px;
      img{
        width: 100%;
      }
    }
  }
}


// フッター

  .footer{
  background-color: #272727;
  padding: 60px 0 ;
  color: #fff;
  text-align: center;
  a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
  }
  p{
    font-size: 14px;
  }
}


  .footer__contents{
  display: flex;
  margin: 0 auto;
  max-width: 840px;
  }

  .footer__list{
    display: flex;
    flex-direction: column;
    width: calc(1/3*100%);
    margin: 0 2% 0 0;
  }

  .list__title{
    margin: 0 0 20;
    font-size: 16px;
    font-weight: bold;
  }

  .footer__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }

.ExhibitBtn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 120px;
  padding: 15px;
  z-index: 2;
  border-radius: 4%;
  text-align: center;
  background: #3CCACE;
  &__text{
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
  }
  img{
    width: 60%;
  }
}

