.NewMain {
  width: 100vw;
  background-color: #f8f8f8;
  padding: 40px 0px;
}

.Form {
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  background-color: white;
  width: 700px;
  height: auto;
  margin: 40px auto;
  padding: 40px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  &__group{
    padding: 20px 0;
    border-bottom: 2px solid #f8f8f8;
    &--last{
      border: none;
    }
  }
  &__label{
    margin-bottom: 15px;
  }
  &__exhibitBtn{
    width: 300px;
    background-color: #ea352d;
    color: #fff;
    border: none;
    height: 50px;
  }
  &__input{
    width: 500px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
  }
  &__btn {
    padding: 60px 0;
    text-align: center;
  }

   textarea{
     height: 150px;
   }

  span {
    width: 30px;
    height: 30px;
    color: red;
    margin-left: 10px;
    font-size: 15px;
  }

  &__image{
    overflow: scroll;
    width: 504px;
    height: 120px;
  }

  .imageContainer{
    background-color: #f5f5f5;
    cursor: pointer;
    border: 1px dashed #cccccc;
    height: 150px;
  }

}