.main{
  background-color: #f8f8f8;
}

.showMain{
  padding: 40px;
  margin: 0 auto;
}

.showcontent{
  margin: 0 auto;
  width: 700px;
}

.topcontent{
  margin: 0;
  padding: 0;
}

.itembox{
  background-color:#fff;
  padding: 24px 40px 40px;

  &__name{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  &__top{
    margin: 16px 0 0;
    }
  ul{
      display: flex;
      position: relative;
      li{
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          img{
            object-fit: cover;
            height: 346px;
            width: 540px;
          }
          ul{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            width: 560px;
            li{
              width: 25%;
              margin: 0 10px 0 0;
              img{
                height: 87px;
                width: 140px;
              }
            }
          }
          }
          }
  &__price{
    margin: 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    span{
      font-size: 46px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }
  }
    &__tax{
        font-size: 16px;
        display: flex;
        margin: 0 0 0 260px;
        }
       

 }

 .item_Subname{
   font-size: 16px;
   margin-bottom: 30px;
 }

 .table{
   margin-bottom: 30px;
   table{
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
    th{
      width: 20%;
    background-color: #eee;
    font-weight: 400;
    padding: 8px;
    border: 1px solid #dedede;
    font-size: 14px;
    text-align: center;
    }
    td{
      width: 61%;
    padding: 15px 15px;
    border: 1px solid #dedede;
    font-size: 14px;
    }
   }
 }

 .option{
   display: flex;
   justify-content: space-between;
   ul{
     margin: 10px 0 0;
     display: flex;
     width: 130px;
     li.likebtn{
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      color: #3CCACE;
      border: 1px solid #ffb340;
      .fa{
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
       }
     }
   }
   ul.report{
     margin: 10px 0 0;
     display: flex;
     li.reportbtn{
       font-size: 9px;
       a{
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
       }
     }
   }
   
 }

 .commentbox{
   background-color: bisque;
   height: 256px;
   width: 652px;
   padding: 24px;
   margin: 10px 0px;
   text-align: center;
 }
