.editmain{
  background-color: white;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}


.editsuccess{
  margin: 0 0 50px 0;
}

.editbtn{
  border: medium solid 1px #3CCACE;
}

  a{
    color:  #3CCACE;
}
