// Place all the styles related to the purchase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment{
  height: auto;
  margin:80px 220px 80px;
  display: flex;
 &__left{
   width: 110%;
   height: auto;
   h2{
    font-size: 50px;
  }
  &--confirmation{
    margin-bottom: 15px;
  }
  &--method{
    font-size: 25px;
    margin-top: 50px;
  }
  .paymentbtn{
    width: 300px;
    height: 50px;
    color: white;
    background-color: red;
    border-style: none;
    margin-top: 100px;
  }
 }
}
.payment__right{
   width: 90%;
   padding: 30px;
   text-align: center;
   border: 2px solid lightgrey;
   border-radius: 3px;
  }
  .payment__right--product{
     font-size: 20px;
     margin: 30px 30px;
     h2{
       margin-bottom: 20px;
       color: gray;
     }
     p{
       font-size: 30px;
     }
   }
   .payment__right--price{
     font-size: 30px;
     font-size: 20px;
     margin: 30px 30px;
     h2{
       margin-bottom: 20px;
       color: grey;
     }
     p{
       font-size: 30px;
     }
   }
 
