.header
.body
  .body__appads
    = image_tag "bg-mainVisual-pict_pc.jpg", class:"appadspic", alt:"ほげ"
    .body__appads--contents
      %h1 人生を変えるフリマアプリ
      %h3 FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
        
  .body__reasons
  .body__appeal
  .body__features
  .body__products
.footer